.header {
  position: absolute;
  top: 1.3rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  align-items: center;
  padding: 20px;
  color: white;
  z-index: 10;
}

.logo h1 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  font-family: "Abril Fatface", "times", "serif";
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-icon {
  font-size: 32px;
  color: white;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    z-index: 9999;
  }

  .header.menu-open {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    transform: translateY(-100%);
    transition: transform 0.2s ease-out;
    z-index: 9998;
  }

  .nav.show-nav {
    transform: translateY(0);
  }

  .nav ul {
    flex-direction: column;
    gap: 30px;
  }

  .nav ul li a {
    font-size: 24px;
    color: black;
  }

  .menu-toggle .menu-icon {
    font-size: 32px;
    color: black;
  }
}
