.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: violet;
  min-height: calc(100vh - 100px);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 40px;
}
