.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

.not-found-container h1 {
  font-size: 3rem;
  color: #ff4d4d;
  margin-bottom: 20px;
}

.not-found-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.back-home {
  color: #fff;
  background-color: #ff4d4d;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.back-home:hover {
  background-color: #ff1a1a;
}
